<div class="modal-close">
  <a class="btn-close" (click)="activeModal.close('Cross click')">X</a>
</div>
<div class="modal-header">
    <img src="{{ env.myVarForImageURLS }}/icon-provider-activecampaign.png" alt="provider logo">
  <span class="round-label" [ngClass]="{'connected': isConnected == true}">{{ statusMessage }}</span>
</div>
<div class="disconnect" style="text-align: center" *ngIf="isConnected == true">
  <button type="button" class="btn btn-link" (click)="logout()">Disconnect ActiveCampaign</button>
</div>
<div *ngIf="isConnected == true">
  <ng-container *ngIf="isGlobalIntegrationSetting; then Global; else Popup"></ng-container>
  <ng-template #Global>
      <div class="modal-body">
          <togglelabel [on]="true" [label]="integrationlabel" [topic]="integrationSettingMessage" (toggled)="switchG_C($event)"></togglelabel>
          <p>Below are your integration settings based on your global settings. Changing these settings will only affect this campaign.</p>
          <br/>
          <div class="form-group">
              <label for="sel1">Mailing List</label>
              <select class="form-control" [(ngModel)] ="gselectedMailListID">
                  <option class="form-control" *ngFor="let mail of itemList" [value]="mail.id">{{mail.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="sel2">Form</label>
            <select class="form-control" [(ngModel)] ="gselectedFormListID">
                <option class="form-control" *ngFor="let mail of formList" [value]="mail.id">{{mail.name}}</option>
            </select>
            {{gselectedFormListID}}
        </div>
      </div>
  </ng-template>
  <ng-template #Popup>
      <div class="modal-body">
          <togglelabel [on]="false" [label]="integrationlabel" [topic]="integrationSettingMessage"  (toggled)="switchG_C($event)" ></togglelabel>
          <p>Enter your settings below to determine how it will handle the integration for this campaign</p>
          <br/>
          <div class="form-group">
              <label for="sel1">Mailing List</label>
              <select class="form-control" [(ngModel)] ="cselectedMailListID">
                  <option class="form-control" *ngFor="let mail of itemList" [value]="mail.id">{{mail.name}}</option>
              </select>
          </div>
          <div class="form-group">
            <label for="sel2">Form</label>
            <select class="form-control" [(ngModel)] ="cselectedFormListID">
                <option class="form-control" *ngFor="let mail of formList" [value]="mail.id">{{mail.name}}</option>
            </select>
        </div>
      </div>
  </ng-template>
</div>
<ng-container *ngIf="isConnected; then Connected; else Unconnected" ></ng-container>
<ng-template #Connected>
      <div class="modal-footer">
        <button class="btn btn-connect" (click)="save()" >Save</button>
        <button class="btn" (click)="testSubmit()" >Test Submit</button>
      </div>    
</ng-template>
<ng-template #Unconnected>
  <form *ngIf="isConnected == false" [formGroup]="connectForm" (ngSubmit)="submitForm()">
    <div class="modal-body">
      <p>Enter your API key and click the connect button to allow access to export to your list</p>
      <div class="form-group">
        <label for="url">API URL</label>
        <input type="text" class="form-control" formControlName="url" />
      </div>
      <div class="form-group">
        <label for="apikey">API Key</label>
        <input type="text" class="form-control" formControlName="apikey" required/>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="!connectForm.valid" class="btn btn-connect">Connect</button>
    </div>
  </form>
</ng-template> 